/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); */
@import 'tailwindcss';

html,
body {
    font-family: 'Source Sans 3', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
}

@keyframes marquee {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(-200%);
    }
}